
.timer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

